@charset "utf-8";
@import "../lib/hotcss-master/src/px2rem.scss";

$designWidth:750;
body{
    background: #f3f3f3;
    .container{
        background: #f3f3f3;
        .title{
            height: px2rem(180);
            background: white;
            padding: 0 px2rem(20);
            span{
                font-size: px2rem(32);
                color: gray;
                display: block;
                height: px2rem(80);
                line-height: px2rem(80);
            }
            h1{
                font-size: px2rem(46);
                padding-top: px2rem(10);
            }
        }
        .userinfo{
            margin-top: px2rem(15);
            padding: 0 px2rem(20);
            background: white;
            li{
                background: white;
                font-size: px2rem(30);
                a{
                    display: block;
                    display: flex;
                    justify-content: space-between;
                    text-decoration: none;
                    color: black;
                    div{
                        span{
                            font-size: px2rem(30);
                        }
                    }
                }
            }
            .first{
                
                a{
                    height: px2rem(140);
                    line-height: px2rem(140);
                    border-bottom:px2rem(1) solid gray;
                    span{
                        display: inline-block;
                        img{
                            width: px2rem(100);
                            height: px2rem(100);
                            border-radius: px2rem(50);
                            margin: px2rem(20);
                        }
                    }
                }
            }
            .oth{
                a{
                    height: px2rem(90);
                    line-height: px2rem(90);
                    border-bottom:px2rem(1) solid gray;
                    div{
                        span{
                            color: gray;
                        }
                    }
                }
            }
            .last{
                a{
                    height: px2rem(90);
                    line-height: px2rem(90);
                    div{
                        span{
                            color: gray;
                        }
                    }
                }  
            }
        }
        .modify{
            padding: 0 px2rem(20);
            background: white;
            margin-top: px2rem(20);
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                height: px2rem(90);
                span{
                    font-size: px2rem(30);
                    color: black;
                }
                .next{
                    color: gray;
                }
            }
        }
        .exit{
            height: px2rem(90);
            text-align: center;
            margin-top: px2rem(20);
            background: white;
            a{
                display:block;
                height: 100%;
                text-decoration: none;
                font:normal bold px2rem(30) "正楷";
                color: black;
                text-align: center;
                line-height: px2rem(90);
            }
        }
    }
}