@charset"utf-8";
@import"../lib/hotcss-master/src/px2rem.scss";

$designWidth:750;

.container{
    .title{
        background: white;
        height: px2rem(80);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        a{
            background: rebeccapurple;
            color: black;
            .title-arrow{
                font-size: px2rem(32);
                position: absolute;
                left: px2rem(20);
                top: px2rem(26);
            }
            
        }
        h1{
            display: inline-block;
            font-size: px2rem(32);
            font-weight: bold;
        }
    }
    .nav{
        display: flex;
        justify-content: space-around;
        line-height: px2rem(80);
        li{
            font-size: px2rem(29);
            color: gray;
            .jiage{
                font-size: px2rem(26);
            }
        }
        .active{
            color:red;

        }

    }
    .composetype{
        background: #f3f3f3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: px2rem(80);
        padding: 0 px2rem(25);
        color: gray;
        .composetype-left{
            font-size: px2rem(28);

        } 
        .composetype-right{
            line-height: px2rem(100);
            .one{
                font-size: px2rem(35);
                font-weight: bold;
                margin-right: px2rem(28);
            }
            .two{
                font-size: px2rem(36);
                font-weight: bold;
                color: red;
            }
        }  
    }
    .goodses{
        display: flex;
        flex-wrap:wrap;
        padding-left: px2rem(8);
        margin-top: px2rem(25);
        a{
            display: inline-block;
            text-decoration: none;
            margin: px2rem(15);
            img{
                width: 100%;
                height: px2rem(260);
            }
            p{
                line-height: px2rem(45);
            }
            .goods-name{
                font-size: px2rem(29);
                color: black;
            }
            .goods-desc{
                font-size: px2rem(23);
                color: gray;
            }
            .goods-price{
                font-size: px2rem(26);
                color: red;
                .gouwuche{
                    font-size: px2rem(28);
                    float: right;
                }
            }
        }
    }
    
}